/* Global CSS */
.return-home {
    text-align:center;
    display: block;
    color: #453674;
    text-decoration: none;
}

a:hover {
    background-color: #D6A800;
    color: #4F3674;
    outline: 1px solid #D6A800;
    padding: 10px 20px;
  }